services:
  app:
    container_name: app
    image: app:v1
    ports:
      - "8080:8080"
    environment:
      FLUENTD_LOGSTORE: "to_logstore"
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:24224
        tag: app
  fluentd:
    container_name: fluentd
    image: fluentd:v1.17
    ports:
      - "24224:24224"
    volumes:
      - ./fluentd/fluentd.conf:/fluentd/fluentd.conf
    command: ["fluentd", "-c", "/fluentd/fluentd.conf"]

  fluent-bit:
    container_name: fluent-bit
    image: fluent-bit:3.0.7
    volumes:
      - ./fluent-bit/fluent-bit.conf:/fluent-bit/fluent-bit.conf
      - ./fluent-bit/plugins.conf:/fluent-bit/plugins.conf
      - ./fluent-bit/config.yaml:/fluent-bit/config.yaml
    command: ["/fluent-bit/bin/fluent-bit", "-c", "/fluent-bit/fluent-bit.conf"]